<html>
  <head></head>
  <body>
  <h1>Albums</h1>
  <% @albums.each do |album_object| %>
  <div>
<a href="/album/<%= album_object.id %>"><%= album_object.title %></a>
  </div>
<% end %>

  </body>
</html>
